/* @font-face {
  font-family: VarelaRound-Regular;
  src: url(Varela_Round/VarelaRound-Regular.ttf);
} */

/* reset browser styles */
/*
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1.2;
font-size: 62.5%;
}
ol {
padding-left: 1.4em;
list-style: decimal;
}
ul {
padding-left: 1.4em;
list-style: square;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*/
/* end reset browser styles */

/* player1, player2 {
  animation: colorchange 10s;
  -webkit-animation: colorchange 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colorchange
{
   0%   {background: rgba(233, 125, 123, 0.25);}
  20%  {background: rgba(189, 68, 54, 0.25);}
  40%  {background: rgba(161, 76, 83, 0.25);}
  60%  {background: rgba(107, 89, 101, 0.25);}
  80% {background: rgba(71, 105, 168, 0.25);}
  100% {background: rgba(7, 146, 158, 0.25);}
} */

html, body {
  font-family: 'VarelaRound-Regular', sans-serif;
  }

body {
    background-image: url('images/boardBody.jpg');
    filter: brightness(1.2);
    background-color: rgba(240, 255, 255, 0.5);
    background-blend-mode: luminosity;
}
  
game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    margin-top: 4rem;
}

player1 {
  display: grid;
  grid-template-columns: 10rem;
  /*background-color: rgba(219, 112, 147, 0.05);*/
  background-color: black;
  /*background-blend-mode: luminosity;*/
  opacity: .2;
}

player2 {
  display: grid;
  grid-template-columns: 10rem;
  /*background-color: rgba(219, 112, 147, 0.05);*/
  /*background-blend-mode: screen;*/
  background-color: black;
  opacity: .2;
}

board {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 5px;
  /*   background-color: #865541; */
  /* filter: drop-shadow(0px 0px 5000px) invert(2%); */
}

.btn {
  text-align: center;
}

#blueTakenBox {
  display: flex;
  flex-direction: row;
}

#orangeTakenBox {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  margin-bottom: 5px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  margin-left: 5px;
}

.black {
  /* background-image: url('images/boardDark.jpg'); */
  /*background-color: #1A3E51; #F2D5BC; #F5ECE2; */
  background-color: rgba(32, 178, 170, .25);
  /* background-color: rgba(7, 146, 158, 0.2); */
  /* background-blend-mode: luminosity; */
}

.white {
  /*background-image: url('images/boardLight.jpg');*/
  /* background-color: #865541; #A07461; #697B6B; #827276; 
https://github.com/lemokh/Photos/blob/master/siennaSquare.jpg?raw=true
  */
  /* background-color: rgba(71, 105, 168, 0.2); */
  background-color: rgba(100, 149, 237, .25);
  /* background-blend-mode: luminosity; */
}

.takenBox > * {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  opacity: .75;
}

.mainLit {
  background-color: rgba(199, 21, 133, .2) !important;
  /*deep red --> use for check --> 220,20,60*/
  /*background-blend-mode: luminosity;*/
}

.lit {
  /* background:
    linear-gradient(purple 0%, red 90%), 
    linear-gradient(to right, purple 0%, yellow 90%); */
  /* background-blend-mode: screen, difference, lighten; */
  /* background-color: rgba(205, 92, 92, 0.2); */
  background-color: rgba(219, 112, 147, .2);
  /*background-blend-mode: luminosity;*/
}

.castleLit {
  background-color: rgba(255, 0, 0, 0.2);
}

.preventMateLit {
  background-color: rgba(211, 211, 211, 0.2);
}

.checkMate {
  background-color: rgba(189, 72, 26, 0.609);
}

.noClick {
  pointer-events: none;
} 

.timePawnEvolve {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.time {
  text-align: center;
  height: 40px;
  /* font-family: VarelaRound-Regular; */
  font-size: 40px;
  background-color: rgba(127, 255, 212, 0.25);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.btn {
  margin: auto;
  text-align: center;
  font-size: 20px;
  background-color: rgba(253, 253, 253, 0.25);
  background-color: white;
}

#modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); 
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.modalContent {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(105, 47, 47);
  width: 80%;
  padding: 20px;
  border-radius: 0.5rem;
}

h1 {
  padding-right: 20px;
}

#start {
  margin-left: 2.5%;
  font-size: 40px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 0.5rem;
  outline: 0;
}

input {
  font-size: 40px;
  text-align: center;
  background-color: slategray;
  width: 15%;
  border-radius: 0.5rem;
  outline: 0;

}
