/*cancel defaults*/

/*use sass variables*/

/*use flexbox*/

body {
  background-color: maroon;
}

board {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

div {
  display: flex;
  background-color: peru;
  height: 40px;
  width: 40px;
  border: 5px;
  z-index: 100;
  margin: 2px;
}
