body {
  background-image: url('https://github.com/lemokh/Photos/blob/master/texture1.jpg?raw=true');
}

board {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  margin: 2px;
  padding: 8px;
  border-radius: 2px;
}

.white {
  background-color: #1A3E51;
}

.black {
  background-color: #865541;
}

.white img {
  width: 80px;
  height: 80px;
}

.black img {
  width: 80px;
  height: 80px;
}
