/* @font-face {
  font-family: VarelaRound-Regular;
  src: url(Varela_Round/VarelaRound-Regular.ttf);
} */

/* reset browser styles */
/*
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1.2;
font-size: 62.5%;
}
ol {
padding-left: 1.4em;
list-style: decimal;
}
ul {
padding-left: 1.4em;
list-style: square;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*/
/* end reset browser styles */

/* player1, player2 {
  animation: colorchange 10s;
  -webkit-animation: colorchange 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes colorchange
{
   0%   {background: rgba(233, 125, 123, 0.25);}
  20%  {background: rgba(189, 68, 54, 0.25);}
  40%  {background: rgba(161, 76, 83, 0.25);}
  60%  {background: rgba(107, 89, 101, 0.25);}
  80% {background: rgba(71, 105, 168, 0.25);}
  100% {background: rgba(7, 146, 158, 0.25);}
} */

html,
body {
  font-family: "VarelaRound-Regular", sans-serif;
  margin: auto;
  height: 100%;
}

body {
  background-image: url("images/boardBody.jpg");
  filter: brightness(1.2);
  background-color: rgba(240, 255, 255, 0.5);
  background-blend-mode: luminosity;
}

game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

player1 {
  display: grid;
  background-color: black;
  opacity: 0.2;
  /* grid-template-columns: 15%; */
  /*background-color: rgba(219, 112, 147, 0.05);*/
  /*background-blend-mode: luminosity;*/
}

player2 {
  display: grid;
  background-color: black;
  opacity: 0.2;
  /* grid-template-columns: 15%; */
  /*background-color: rgba(219, 112, 147, 0.05);*/
  /*background-blend-mode: screen;*/
}

board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fadeOutIn 1.5s ease-in-out;
}

.rotateBoard {
  transform: rotate(180deg);
}

#blueTakenBox {
  display: flex;
  flex-direction: row;
}

#orangeTakenBox {
  display: flex;
  flex-direction: row;
}

img {
  height: 5rem;
  width: 5rem;
}

.black {
  background-color: rgba(32, 178, 170, 0.25);
  /* background-color: rgba(32, 178, 170, .25); */

  /*background-color: #1A3E51; #F2D5BC; #F5ECE2; */
  /* background-color: rgba(7, 146, 158, 0.2); */
  /* background-blend-mode: luminosity; */
}

.white {
  background-color: rgba(97, 111, 136, 0.25);
  /* background-color: rgba(100, 149, 237, .25); */

  /* background-color: #865541; #A07461; #697B6B; #827276;
  /* background-color: rgba(71, 105, 168, 0.2); */
  /* background-blend-mode: luminosity; */
}

.takenBox > * {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  opacity: 0.75;
}

.mainLit {
  background-color: rgba(255, 0, 0, 0.2) !important;
  /* background-color: rgba(199, 21, 133, .2) !important; */
  /* background-color: rgba(121, 30, 87, 0.2) !important; */
  /* background-color: rgba(231, 27, 122, 0.335) !important; */
  /*deep red --> use for check --> 220,20,60*/
  /*background-blend-mode: luminosity;*/
}

.lit {
  /* background-color: rgba(224, 116, 116, 0.2); */
  background-color: rgba(219, 112, 147, 0.2);
  /* background:
  linear-gradient(purple 0%, red 90%), 
  linear-gradient(to right, purple 0%, yellow 90%); */
  /* background-blend-mode: screen, difference, lighten; */
  /* background-color: rgba(205, 92, 92, 0.2); */
  /*background-blend-mode: luminosity;*/
}

.castleLit {
  background-color: rgba(130, 30, 30, 0.2);
}

.preventMateLit {
  /*  background-color: rgba(114, 156, 149, 0.45); */
  background-color: rgba(138, 174, 202, 0.35);
  /* background-color: rgba(211, 211, 211, 0.2); */
}

.checkMate {
  /* background-color: rgba(255, 94, 31, 0.35); */
  /* background-color: rgba(189, 72, 26, 0.36); */
  background-color: rgba(10, 255, 77, 0.33);
}

.noClick {
  pointer-events: none;
}

.timePawnEvolve {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.time {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(127, 255, 212, 0.25);
  color: rgba(12, 22, 22, 0.9);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#modalGameOverOrange,
#modalGameOverBlue {
  text-align: center;
  font-size: 60px;
  background-color: rgba(253, 253, 253, 0.25);
  margin-top: 5px;
  color: rgba(12, 22, 22, 0.9);
}

.btn {
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #655b80;
  opacity: 0.75;
}

.btn:hover {
  color: black;
  opacity: 1;
  background-color: bisque;
  border-color: rgba(189, 72, 26, 0.65);
}

#modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.modalContent {
  display: flex;
  justify-content: center;
  background: rgba(53, 20, 20, 0.62);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: rgba(71, 105, 168, 0.2);
  font-weight: bold;
}

#chooseGame {
  display: flex;
  justify-content: center;
  background-color: rgba(71, 105, 168, 0.2);
}

#gameList {
  display: flex;
  justify-content: space-between;
}

.gameLengths:hover {
  color: rgba(189, 72, 26, 0.65);
}

.gameLengths {
  color: rgba(189, 72, 26, 0.33);
}

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  padding-right: 20px;
  color: #967a5e;
}

#start,
#send {
  margin-left: 2.5%;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(57, 224, 255, 0);
  border-radius: 0.5rem;
  outline: 0;
  color: rgba(189, 72, 26, 0.65);
  border-color: rgba(189, 72, 26, 0.65);
}

#start:hover,
#send:hover {
  background-color: rgba(130, 30, 30, 0.2);
  border-color: rgba(189, 72, 26, 0.33);
}

#timeSet {
  font-size: 81px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(71, 105, 168, 0.25);
  /* margin-left: 2.5%; */
  color: #967a5e;
  width: 15%;
  border-radius: 0.5rem;
  outline: 0;
  border-color: transparent;
}

showMoves,
options {
  display: flex;
  justify-content: space-evenly;
}

.view {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

#m,
button {
  font-size: 35px;
}

#chat {
  display: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font: 13px Helvetica, Arial; */
}

form {
  display: flex;
  padding-top: 5px;
}

#m {
  border: 0;
  width: 90%;
  background-color: rgba(71, 105, 168, 0.2);
  color: rgba(87, 127, 133);
  text-align: center;
  font-weight: bold;
}

#send {
  /* background: rgb(130, 224, 255); */
  /* border: none; */
  width: 10% rem;
  /* color: rgba(12, 22, 22, 0.9); */
  border-radius: 0;
}

#messages {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 284px;
  overflow: auto;
}
#messages div {
  text-align: center;
  background: transparent;
  color: rgba(87, 127, 133);
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}
